ion-menu {
  --width: 250px;
}

.ion-menu-toggle ion-item {
  border-radius: 12px;
  margin: 4px 0;
}

ion-item {
  font-weight: 500;
}

ion-toolbar {
  border-radius: 0 0 16px 16px;
}

ion-label {
  margin-left: 2px;
}